deps/
local/
tts/
node-red/
image/
www/state_image/
www/github
www/*.js
www/guestwifi.png
www/community/
www/snapshot/*
themes/mushroom/
netdaemon/*
custom_components/
.cloud/
.storage/tmp*
.storage/hassio
.storage/http*
.storage/person
.storage/zone
.storage/image
.storage/cloud
.storage/icloud
.storage/camera
.storage/custom_updater.cards
.storage/zha.storage
.storage/hacs
.storage/hacs.*
.storage/homekit.*
.storage/.hpprinter.printer
.storage/frontend.user_data_*
.storage/android*.*
.storage/adbkey
.storage/adbkey.pub
.storage/auto_backup.*
.storage/unifi_data
.storage/netatmo_*
.storage/mobile_app
.storage/*.json
.storage/google_assistant
.storage/androidtv_adbkey
.storage/androidtv_adbkey.pub
.google.token
*.snapshots_expiry
.storage/androidtv_adbkey.pub
.storage/icloud/paulgiffca
auth*
core.*
onboarding
.gmusic_authtoken
.google.token
._*
*_*
*_*.*
*.conf
*.db
*.db-shm
*.db-wal
*.log
*.sqlite
*.txt
*.xml
*.db-journal
*.json
*.txt
*.js
*.state
*.cards
*.crt
*.key
*.pem
.HA_VERSION
.uuid
entity_registry.yaml
known_devices.yaml
secrets.yaml
google_calendars.yaml
ip_bans.yaml
.ip_authenticated.yaml
.storage/.hpprinter.printer
home-assistant.log.*
